/* apartment-page */
.apartment{
    color: white;
    padding-top: 300px; height: 400px;
}

/* listings */
/* section-5 */
/* .section-five{width: 100%; 
  padding-left: 20px;} */
  .section-five h1{padding: 20px; font-size: 65px; color: #333;}
.section-five { padding: 100px;
  text-align: center;}
.photo-container{
  width: 100%; background-color: white;
  display: grid; height: fit-content;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
  grid-auto-flow: dense;
  padding: 20px;
}
.gallery-item h1{padding: 0px; font-size: 18px !important; 
  color: #333; 
text-transform: capitalize;}

.gallery-item{
  width: 100%;
    
}

.gallery-item img{
  width: 100%;border-radius: 3%;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
}
 /* .gallery-item:hover .image img{
   transform: translateX(200px); 
  transform: translateX(600px);
}  */

.display {
  margin-top: 120px;
  margin-left: 120px;
  align-items: center;
  padding: 10px 10px;
  background-color: white; 
  text-transform: uppercase; border: 1px solid black;
}
.display a{
  text-decoration: none;
  color: black;
}


.listings-one .containerSlider{text-transform: capitalize;}

.features h1{padding:5px 50px; font-size: 45px; color: #333;}
.features p{line-height: 36px; padding: 10px;
     color:white; font-size: 20px;}
.features{text-transform: capitalize;
color: #333; padding:10px 50px;
 font-weight: 900; font-style: italic; line-height: 28px;
text-align: center;}
.feature-container{
    height: 400px; 
    width: 100%;
    border-bottom: 1px solid white;
}

.features button{padding:20px 40px; font-weight: 900; margin: 10px; border-radius: 20px;
    background-color:transparent; color: #333;border: 2px solid #333; }
  .features button:hover{color: white;background-color:orange; border: 2px solid orange;}


    /* section-one */
    .containerSlider-one{margin-top: 50px;
        width: 100%;
       height: 500px;
       object-fit: cover;
             
       }
       /* slidder-text */
       
       .title{
        margin-top: 300px;
        font-size: 35px;
        cursor: pointer;
        color: olive!important;
       }
       .title:hover{background: white;}


/* distress-section-one */

.distress-container{ 
   width: 100%; padding: 50px;
   height:fit-content; background-color:#333; text-align: center;
}
.distress-container h1{color: orange; font-size: 28px; padding-top: 10px;}

.img-one img{height: 200px; border-radius: 3%; width: 100%;}

.distress-one{
    display: grid; gap: 40px; 
    grid-template-columns: repeat(4,1fr);
    padding:20px 50px;
    color:white;  
}
.distress-one h3{text-transform: capitalize;padding-top: 10px; color: white;
    font-size: large;font-style: italic; text-align: center;
font-family: sans-serif; font-weight: 700;}



.timer{text-align: center; color: red; margin: 0px !important;
}
.video-section{text-align: center; padding: 0px; margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase; background-color: whitesmoke; 
    color: orange;}




/* .section-seven */
.section-seven-container{width: 100%;  height: fit-content;
    background-image: url(img/construction-site2.jpg);
     object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; text-align: center;
    align-items: center; font-weight: 900; 
    position: relative; margin-top: 55px;
   }
   .section-seven-container .section-seven{
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 100%; height: 500px;
    padding-top: 150px; 
   }

   .form-page{display: grid; grid-template-columns: repeat(2,1fr);
  gap: 20px; background-color: #333;
padding: 20px; width: 100%;}

.form input{width: 100%; height: 50px; padding: 20px; border: none; 
   border-bottom: 1px solid black;}
input{margin: 10px; }
textarea{margin: 10px;}





.social-media-icons h2{font-weight: 900; 
    font-size: 15px; color: white; font-style: inherit;}

 .social-media-icons svg{color: white;}

